# packages
node_modules

# yarn
**/.yarn/cache
**/.yarn/*state*

# build
dist

# editors
.vscode/*
**/*/.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# env
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/coverage

# other
*.tgz
.tmp

